<div class="centered-div">
	<div class="image"></div>
	<div class="tag">
		<p>Design</p>
	</div>
	<h1>Embracing Minimalism</h1>
	<p class="description">
		From minimalist sculptures to minimalist paintings, this blog will
		inspire you to appreciate the beauty that lies in simplicity.
	</p>
	<hr />
	<p class="firma">Annie Spratt</p>
</div>

<style>
	.centered-div {
		width: 368px;
		margin: 164px auto 0 auto; /* para visualizar el div centrado */
		box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
		background-color: #ffffff;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 8px;
	}

	.image {
		width: 336px;
		height: 152px;
		margin: 16px;
		background-image: url("../images/cactus_img.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		border-radius: 8px;
	}

	.tag {
		width: 70px;
		height: 25px;
		background-color: #e6d6fc;
		margin-left: 16px;
		border-radius: 15px;
	}

	.tag p {
		font-size: 0.625rem;
		color: #883ae1;
		font-weight: 500;
		margin: 0;
		padding: 6px 16px;
	}

	h1 {
		font-size: 1.125rem;
		font-weight: 600;
		margin: 16px 16px 0 16px;
		color: #20293a;
	}

	.description {
		font-size: 0.875rem;
		font-weight: 300;
		color: #6c727f;
		margin: 6px 16px 20px 16px;
	}
	hr {
		border: none;
		height: 1px;
		background-color: #E5EAF0;
		margin: 0px;
	}
	.firma {
		font-size: 0.75rem;
		font-weight: 300;
		color: #6c727f;
		margin: 0px 16px 20px 16px;
		padding-top: 20px;
	}
</style>
