<ul>
    <li>
        <a href="/frontendMentor/blogPreviewCard" target="_blank"
            >Blog preview card (Web & Mobile) - With FIGMA</a> 
    </li>
    <li>
        <a href="/frontendMentor/qrCodeComponent" target="_blank"
            >QR code component (Web) - With FIGMA</a>
    </li>
    <li>
        <a href="/frontendMentor/socialLinksProfile" target="_blank"
            >Social links profile (Web & Mobile) - Without FIGMA, with CSS variables</a>
    </li>
</ul>
