<ul>
    <li>
        <a href="/frontendMentor/blogPreviewCard" target="_blank"
            >Blog preview card (Web & Mobile)</a
        >
    </li>
    <li>
        <a href="/frontendMentor/qrCodeComponent" target="_blank"
            >QR code component</a
        >
    </li>
</ul>
